@import '~bootstrap/scss/bootstrap';
@import 'react-slider';

$ux-interactive-color: #017daf;
$ux-interactive-color-checked: #3299cb;
$ux-interactive-color-active: #017daf;
$ux-interactive-border-highlight-color: #018cc8;
$ux-interactive-border-shadow-color: #01729b;
$ux-interactive-hover-color: #015f8c;

$radius-size: 0.19rem;
$shadow: 0.06rem 0.125rem 0.125rem rgba(0,0,0,0.3);
$inverse-inactive-color: rgba(255, 255, 255, 0.7);
$inverse-hover-color: #5bc0de;
$inverse-active-color: white;
$inverse-inactive-color: #cef;
$ux-interactive-color: #017daf;
$ux-interactive-color-checked: #3299cb;
$ux-interactive-color-active: #017daf;
$ux-interactive-border-highlight-color: #018cc8;
$ux-interactive-border-shadow-color: #01729b;
$ux-interactive-hover-color: #015f8c;

html {
  box-sizing: border-box;
}


.container .row {
  margin-bottom: 1rem;
}

.container .row > [class^="col-"] {
  /*padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #E5EDF5;
  border: 1px solid #C9C1D5;
  color: #5F5F5F;*/
}


.diagnosticsCol {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #E5EDF5;
  border: 1px solid #C9C1D5;
  color: #5F5F5F;
}


html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.canvasLoadingOverlay.timeOverlay{
  margin-top: -800px;
  display: block;
  width: 480px;
  height: 800px;
  z-index: 10000;
}
.canvasLoadingOverlay {
  margin-top: -670px;
  display: block;
  width: 480px;
  height: 670px;
  z-index: 10000;
}
#root {
  height: inherit;
  width: inherit;
}
.signInOffButton {
  margin-left:1em;
  margin-top:2em;
  margin-right:1em;
}
.welcomeSign {
  text-align: left;
}
.percentage{
  font-size:30px;
}

.scrollAreaBasket {
  height: inherit;
  width: inherit;
}

.scrollAreaPageWidth {
  overflow: auto
}

.selectedRowJobList {
  background-color: #d9edf7;
}

.previewComponent {
  height: 20em;
  width: 100%;
}

.previewComponentUpload {
  height: 100%;
  width: 100%;
}

.previewTable {
  th {
    border: .5px solid black;
    background-color: #d9edf7;
  };
  td {
    border: .5px solid black;
  };
  font-size: 0.8em;
  width: 100%;
  border: .5px solid black;
  border-collapse: collapse;
}

.joblistTable {
  th {
    border: .5px solid black;
    background-color: #d9edf7;
    border: .5px solid black;
    padding: .5em;
    text-align:center;
  };
  td {
    border: .5px solid black;
    padding: .5em;
    text-align:center;
  };
  font-size: 0.8em;
  width: 100%;
  border: .5px solid black;
  border-collapse: collapse;
}

.jobListScrollComponent {
  height: 20em;
}

.basketButton {
  margin: 1em;
}

.ux-interactive {
  background-color: $ux-interactive-color;
  border-color: $ux-interactive-border-highlight-color;
  border-right-color: $ux-interactive-border-shadow-color;
  border-bottom-color: $ux-interactive-border-shadow-color;
  border-width: 0.125rem;
  cursor: pointer;
  @extend .rounded;
  box-shadow: $shadow;
}

.ux-interactive:hover {
  background-color: $ux-interactive-hover-color;
  border-color: $ux-interactive-hover-color;
  border-right-color: #01405e;
  border-bottom-color: #01405e;
}

.ux-interactive:active {
  background-color: $ux-interactive-color-active;
  border-color: $ux-interactive-border-highlight-color;
  border-left-color: $ux-interactive-border-shadow-color;
  border-top-color: $ux-interactive-border-shadow-color;
  box-shadow: unset;
}

.ux-interactive:checked {
  color: $inverse-active-color;
  text-shadow: 0 0 0.2rem #333;
  background-color: $ux-interactive-color-checked;
  border-color: $ux-interactive-border-highlight-color;
  border-left-color: $ux-interactive-border-shadow-color;
  border-top-color: $ux-interactive-border-shadow-color;
  box-shadow: unset;
}

.ux-interactive:disabled {
  @extend .ux-interactive;
  color: $inverse-inactive-color;
  border-color: $ux-interactive-border-highlight-color;
  cursor: not-allowed;
  opacity: 0.6;
}


.btn-primary {
  @extend .ux-interactive;
}


.btn-primary:hover {
  @extend .ux-interactive:hover;
}

.btn-primary:focus {
  box-shadow: $shadow;
}

.btn-primary:active {
  @extend .ux-interactive:active;
}

.btn-primary.active {
  @extend .ux-interactive:checked;
}

.btn-primary.disabled, .btn-primary.disabled:hover {
  @extend .ux-interactive:disabled;
}

.btn-outline-info {
  color: $ux-interactive-color-checked;
  border-color: $ux-interactive-color-checked;
}

.btn-outline-info:hover {
  color: $inverse-active-color;
  border-color: $ux-interactive-color-checked;
  background-color: $ux-interactive-color-checked;
}

.btn-outline-info:focus {
  box-shadow: unset;
}

.container-fluid {
    height: inherit;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
}

.navbar {
  padding: 0;
}

.navbar.navbar-inverse {
    background-color: #d9edf7;
    color: #31708f;
    border: none;
    border-bottom: 1px solid #7daec6;
    box-shadow: 0.06rem 0.125rem 0.125rem rgba(0, 0, 0, 0.3);
    border-radius: 0;
    padding: 0;
    margin-bottom: 0;
    width: 100%;

}

.navbar-static-top {
    border-style: solid;
      border-width: 0 0 1px;
      border-color: #e7e7e7;
      padding-top: 0;
      padding-bottom: 0;
}


.navbar-static-top a.active, .navbar-static-top a.active:focus, .navbar-static-top a.active:hover {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-static-top li>a {
    color: #777;
    padding: 15px;
}

.navbar img.logo {
  margin: 0 0.3rem 0.4rem;
  width: 4rem;
}

.nav-brand-text{
  color: #31708f;
}

.nav-link{
  display:flex;
  overflow:hidden;
}
.nav-link span{
  padding:3px;
}
.nav{
  overflow:hidden;
}

.row {
  margin: 0;
}

.MainViewport {
    flex: 1;
    flex-direction: column;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    /*padding:10px;*/
    width:99vw;
    display:block;
    height:inherit;
      display:block;
    width:inherit;
    text-align: justify;
    text-justify: inter-word;
    margin:0;
    background-color:#FFF;
    padding-top:20px;
    padding-left:20px;
    padding-right:5px;
    padding-bottom:100px;
}

iframe {
  padding: 0px;
  background-color: #FFF;
  border: 1px solid #777;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}

.ADAGUCViewerComponentMap{
  padding: 4px;
  margin:12px;
  background-color: #FFF;
  border: 1px solid #999;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
}

.MainViewport {
  .map {
    flex: 1;
  }
  flex: 1;
  flex-direction: column;
  /*overflow-y: scroll;*/
  overflow-x: hidden;
}
.row.MainSection {
  flex: 1;
  margin: 0 0.2rem 0.2rem 0.2rem;
}

.MainViewport h1{
  font-size:32px;
  padding-bottom:0.5em;
}

.MainViewport h2{
  font-size:24px;
  padding-bottom:0.5em;
}


.MainViewport h3{
  font-size:20px;
  padding-bottom:0.5em;
}

.text {

}
.text p{
  max-width:700px;
}
.card{
  padding:10px;
}

.required:after {
  content: " *";
}

.divider-2 {
  width: 100%;
  min-height: 1px;
  margin-top: 2px;
  margin-bottom: 2px;
  display: inline-block;
  position: relative;
}

.catalogMetadataModal{
}

.catalogMetadata{
  font-size:12px;
  margin-top:20px;
  background-color:#EEE;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 90%;
  min-height: 90%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-input-text {
  margin-bottom: 5px;
}

#navigation,.navbar .navbar-header-c3s{
  background-image: url("theme/bg-header.jpg");
  padding:0;
  margin:0;
  height:90px;

}


.navbar-static-top li > a {
  padding:6px 20px 6px 20px;
  margin:0;
  color:white;
  font-size: 16px;
  /*text-transform: uppercase;*/
  font-family: Verdana, Geneva, sans-serif;
}

.navbar-static-top li > a:hover {
  background-color:#BB2448;
 }

.navbar-static-top a.active, .navbar-static-top a.active:focus, .navbar-static-top a.active:hover{
  background-color:#AA1438;
  padding:6px 20px 6px 20px;
  margin:0;
  color:white;
  font-size: 16px;
  /*text-transform: uppercase;*/
  font-family: Verdana, Geneva, sans-serif;
}

.secondNavbar {
  display:inline-block;

}

.Header {
  display:block;
}

.WPSCalculatorForm{
  padding:10px;
  margin:10px 0;
  width:1000px;
  background-color:#DDD;
}

.BasketContainer {
  height:inherit;
  width:100%;
  border:2px solid blue;
}

aside, header, main {
  display: inherit;
}

.innerContainer {
  height: inherit;
  display: flex;
  flex-direction: inherit;
  /*chroflex: inherit;*/
  padding: inherit;
}

.TitleComponent{
  width:100%;
}

.mainSection {
  flex: 1;
  margin: 0 0.2rem 0.2rem 0.2rem;
}

.ViewComponent {
  height:auto;
  overflow-y:auto;
  flex:1;
}

.basketTreeContainer {
  display: flex;
  flex-flow: column;
  height:inherit;
  width:100%;
}

.basketTreeContainerMainSection {
  flex: 1 ;
  background: white;
  width:inherit;
  height:inherit;
  overflow-y:auto;
}

.my-draggable {
  padding: 0px;
  overflow: hidden;
  background-color: #FFF;
  border: 1px solid #777;
  -webkit-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 30px 0px rgba(0,0,0,0.75);
}


.glyphicon-plus:before {
  content: "add a model";
}
.glyphicon-remove:before {
  content: "remove";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.btn.btn-default.array-item-move-up {
  display: none;
}
.btn.btn-default.array-item-move-down {
  display: none;
}
.form-group.field.field-string {
  margin-left: 1em;
}
.btn.btn-danger.array-item-add {
  margin-left: 1em;
}
.btn.btn-danger.array-item-remove {
  margin-left: 1em;
}

.btn.btn-info.btn-add {
  margin-left: 1em;
  margin-top:0.51em;
}
.show > .dropdown-menu {
  display: block;
}

.diagCard {
  cursor:pointer;
}

div.vspace2em {
  clear: both;
  margin-top: 2em;

  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  display:block;
  height:inherit;
  width:inherit;
  text-align: justify;
  text-justify: inter-word;
}

div.hpace2em {
  clear: both;
  margin-left: 2em;


  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  display:block;
  height:inherit;
  width:inherit;
  text-align: justify;
  text-justify: inter-word;
}

.youtubeplayer {
  margin-bottom: 2em;
  width: calc(100% - 0px);
  height: 400px;
  float: left;
}

.videoWrapper {
  width: 100vw;
  height: 500px;
}

.atBottom {
  position: absolute;
  bottom: 0;
}

.overviewButton {
  position: fixed;
  padding-left: 10px;
  padding-bottom:10px;
  left:3%;
  z-index: 1;
}
